SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_ANON_KEY=sb_publishable_f7_1xxxxxxxxcEcVt_xxxxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=eyJhbGcxxxxxxxxxxxxpXVCJ9...
GOOGLE_WEB_CLIENT_ID=GOOGLE_WEB_CLIENT_ID=xxxxxxxxxxxxxxxxxx.apps.googleusercontent.com